openapi: 3.0.0
servers:
  - url: http://api.warscript.tech
info:
  title: WarScript API 
  version: 0.0.1
  contact:
    name: HotCodeGroup
    url: https://github.com/HotCodeGroup
paths:
  /v1/session/:
    post:
      tags:
        - auth
      summary: Signs in and returns the authentication cookie
      operationId: signInUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInUser'
      responses:
        '200':
          description: User successfully logged in
          headers: 
            Set-Cookie:
              schema: 
                type: string
                example: JSESSIONID=abcde12345; Path=/; HttpOnly
        '400':
          description: User was deleted or doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          $ref: '#/components/schemas/InternalServerError' 
    delete:
      tags:
        - auth
      summary: Signs out and deletes the authentication cookie
      operationId: signOutUser
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Deletes the authentication cookie
          headers: 
            Set-Cookie:
              schema: 
                type: string
                example: JSESSIONID=abcde12345; Path=/; HttpOnly
        '401':
          description: Need to be logged in to signout
        '500':
          $ref: '#/components/schemas/InternalServerError'
  /v1/user:
    post:
      tags:
        - auth
      summary: Creates new user
      operationId: signUpUser
      security: []
      requestBody: 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpUser'
      responses:
        '200':
          description: User successfully signed up and logged in
          headers: 
            Set-Cookie:
              schema: 
                type: string
                example: JSESSIONID=abcde12345; Path=/; HttpOnly
        '400':
          description: Signing up failed due to validation errors or user already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          $ref: '#/components/schemas/InternalServerError'
    put:
      tags:
        - users
      summary: Update user info
      operationId: updateUser
      security:
        - cookieAuth: []
      requestBody:
        description: Contains fields update to
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BasicUser'
                - type: object
                  properties:
                    oldPassword:
                      type: string
                      description: Confirms old password for change password operation
                      example: qwerty1234
                    newPassword:
                      type: string
                      description: New password for change password operation
                      example: qwerty4321
      responses:
        '200':
          description: Returns empty struct if user updated or errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Need to be logged in to update account
        '500':
          $ref: '#/components/schemas/InternalServerError'
    delete:
      tags:
        - users
      deprecated: true
      summary: Deletes user account(temproraty deprecated)
      operationId: deleteUser
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Returns empty struct(and deletes cookie) if user updated or errors
          headers: 
            Set-Cookie:
              schema: 
                type: string
                example: JSESSIONID=abcde12345; Path=/; HttpOnly
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '401':
          description: Need to be logged in to delete account
        '500':
          $ref: '#/components/schemas/InternalServerError'
  /v1/users/{userID}:
    get:
      tags:
        - users
      summary: Get user info by ID
      operationId: getUser
      security: []
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoUser'
        '500':
          $ref: '#/components/schemas/InternalServerError'
  /v1/users/username_check:
    post:
      tags:
        - users
      summary: Checks if username already used
      operationId: checkUsername
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
              properties:
                username:
                  type: string
                  description: Username to check
                  example: BaCeK1338  
      responses:
        '200':
          description: Returns used = true if username already used
          content:
            application/json:
              schema:
                type: object
                required:
                  - used
                properties:
                  used:
                    type: boolean
                    description: True if usernamed used
                    example: false
        '500':
          $ref: '#/components/schemas/InternalServerError'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: JSESSIONID
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: Code of error
          example: 15
        message:
          type: string
          description: Message to display for user
          example: Already used!
        description:
          type: string
          description: Describes error for developer
          example: Database error UNIQUE field
    Errors:
      type: object
      properties:
        fields:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Error'
        other:
          $ref: '#/components/schemas/Error'
    InternalServerError:
      description: internal server error
    ValidationFailed:
      description: failed to validate
    BasicUser:
      type: object
      properties:
        username:
          type: string
          description: Name for login
          example: xXxNaGiBaToRxXx
    InfoUser:
      allOf:
        - $ref: '#/components/schemas/BasicUser'
        - type: object
          required:
            - id
            - active
          properties:
            id:
              type: integer
              format: int64
              description: user ID
              example: 1
            active:
              type: boolean
              description: Returns if a profile is blocked
              example: true
    SignInUser:
      type: object
      required: 
        - username
        - password
      properties:
        username:
          type: string
          description: name for login
          example: xXxNaGiBaToRxXx
        password:
          type: string
          description: secret word for login
          example: qwerty1234
    SignUpUser:
      allOf:
        - $ref: '#/components/schemas/BasicUser'
        - $ref: '#/components/schemas/SignInUser'
    Bot:
      type: object
      required:
        - id
        - authorID
        - timestamp
      properties:
        id:
          type: integer
          format: int64
          description: Bot unique ID
          example: 1
        authorID:
          type: integer
          format: int64
          description: ID of user who creates that bot
          example: 1
        timestamp:
          type: integer
          format: int64
          description: Timestamp when bot was sended in Unixtime
          example: 947419200
        code:
          type: string
          description: Source code of bot
          example: const a=5
        approved:
          type: boolean
          description: Returns if bot was validated
          example: true
        lastGames:
          type: array
          description: Last games IDs with given offset and count
          items:
            type: integer
            format: int64
          example:
            - 1
            - 2
            - 3  
    Game: 
      type: object
      required:
        - id
        - title
        - description
        - rulesURL
        - active
      properties:
        id:
          type: integer
          format: int64
          description: game ID
          example: 1
        title: 
          type: string
          description: Name of game
          example: Ping Pong  
        description:
          type: string
          description: Description of game
          example: Write bot for playing ping pong          
        rulesURL: 
          type: string
          description: URL to the rules for game
          example: https://hotbot.game/s/1548595030145/assets/documentation/pingpong.pdf?rnd
        previewURL: 
          type: string
          description: URL to the game`s preview
          example: https://hotbot.game/s/1548595030145/assets/application/img/ping-pong-sample.png
        active:
          type: boolean
          description: Returns if a game is available for new bots
          example: true
